@if (articles) { @for (item of articles; track $index) {
<ng-container
  *ngTemplateOutlet="cardArticle; context: { myarticle: item }"
></ng-container>
} }

<ng-template #cardArticle let-article="myarticle">
  <div>
    <!--Exemple pour afficher le nom des articles :   {{ article.nom }}   -->
  </div>
</ng-template>



<div class="article-container" *ngIf="articles">
    <div class="conteneur-interne" *ngFor="let item of articles">
        <app-card-article [article]="item"></app-card-article>
    </div>
</div>



